language: cpp

os: linux
dist: xenial
compiler: gcc
addons:
   apt:
     sources:
        - ubuntu-toolchain-r-test
     packages:
        - cmake-data
        - cmake
        - gcc-7
        - g++-7
        - libpython3-dev
        - python3-numpy
        - libboost-all-dev
install:
   - wget -q -O eigen.tar.gz https://github.com/eigenteam/eigen-git-mirror/archive/3.3.5.tar.gz
   - tar -xzf eigen.tar.gz
   - mv eigen-git-mirror-3.3.5 eigen-3.3.5
   - export CMAKE_EXTRA_ARGS="${CMAKE_EXTRA_ARGS} -DEIGEN3_INCLUDE_DIR=$PWD/eigen-3.3.5"
before_script:
   - export CC=gcc-7
   - export CXX=g++-7
   - ${CXX} --version
   - cmake --version
   - mkdir build
   - cd build
   - cmake -DHUNTER_ENABLED=FALSE ${CMAKE_EXTRA_ARGS}..
script:
   - make
   - which python3
   - ctest
   


    