language: cpp

matrix:
   include:
      dist: xenial
      sudo: true
      compiler: gcc
      addons:
        apt:
        sources:
            - ubuntu-toolchain-r-test
        packages:
            - cmake-data
            - cmake
            - gcc-7
            - g++-7
   install:
      - export CC=gcc-7
      - export CXX=g++-7
      - ${CXX} --version
      - ${CXX} -v
      - cmake --version
              
   # before_install:
      # - export CMAKE_OPTIONS=${CMAKE_OPTIONS}" "${ENV_CMAKE_OPTIONS}
      # - export CXX_FLAGS=${CXX_FLAGS}" "${ENV_CXX_FLAGS}
      #   install:
   before_script:
    ############################################################################
    # Build main and tests
    ############################################################################
       - mkdir build
       - cd build
       - cmake ..
   script:
       - make
       - ctest


    