language: cpp

os: linux
dist: xenial
compiler: gcc
addons:
   apt:
     sources:
        - ubuntu-toolchain-r-test
     packages:
        - cmake-data
        - cmake
        - gcc-7
        - g++-7
        - libpython3-dev
install:
   - pip3 install numpy
before_script:
   - export CC=gcc-7
   - export CXX=g++-7
   - ${CXX} --version
   - cmake --version
   - mkdir build
   - cd build
   - cmake ..
script:
   - cmake --version
   - make
   - ctest


    